/*Globālie CSS parametri*/
/************************************************************************************************************/
h3{
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #D3D3D3;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Arial", Gadget, sans-serif;
    min-width: 320px;
    background-color: #FFF5F5;
}

button{
    border: none;
}

button:focus {outline:0;}

a{
    text-decoration: none;
    margin: 0;
    color: #545454;
}

p{
    color: #545454;
}

.hidden{
    display: none;
}

/*CSS parametri specifiski katram elementam*/
/************************************************************************************************************/


/* "Wlcome" content */



/* Main content */
/**************************************************************/



    div.register-div{
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        min-height: 190px;
        height: auto;
        margin: 0;
        padding: 0;
        z-index: 3;
        padding-bottom: 50px;
    }
        div#login-div-center{
            width: 380px;
            padding-bottom: 0;
        }
            #login-div-center label.login-label{
                width: 20%;
            }
            #login-div-center input.login-input{
                width: 70%; 
                height: 22px;
                padding: 2px 10px;
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                float: right;
            }
            a.forgot_uname_pword{
                color:  #4169E1;
                display: block;
                /*text-align: center;*/
                font-size: 12px;
                margin: 2px;
                text-align: center;
            }



        div#comp_user_reg{
            width: 430px;
            /*height: 170px;*/
            height: auto;
            background-color: #292929;
            margin: 0 auto;
            padding: 0 0 20px 0;
            position: relative;
        }           
        div.register-div-center{
            width: 500px;
            /*height: 170px;*/
            height: auto;
            background-color: #292929;
            margin: 0 auto;
            padding: 0 0 20px 0;
            position: relative;
        }
        div#a_comp_list_center{
            max-width: 800px;
        }

            .register-div-center button.a_back{
                width: 60px;
                height: 26px;
                position: absolute;
                top: 48px;
                left: 5px;
                color: #3a87ad;
                background-color: #d9edf7;
                font-weight: bold;
            }

            button.a_back:hover{
                color: #d9edf7;
                background-color: #3a87ad;
            }


            .address-form{
                width: auto;
                padding: 25px 40px 0 40px;
/*                width: 80%;
                padding: 40px 0 25px 0;*/
                margin: 0 auto;
            }

                .address-form fieldset{
                    border: none;
                    padding: 10px 0;
                    height: auto;
                }
                    .address-form fieldset span{
                        color: #fff;
                    }                
                    .address-form p{
                        color: #B0AEAE;
                        text-align: left;
                        font-size: 11px;
                        margin-bottom: 25px;
                    }
                    .address-form label{
                        float: left;
                        color: #B0AEAE;
                        width: 40%;
                        line-height: 22px;
                        font-weight: bold;
                    }


                    input.register-input{
                        width: 60%; 
                        height: 22px;
                        padding: 2px 10px;
                        font-size: 12px;
                        font-style: italic;
                        font-weight: bold;
                        float: right;
                    }
                    #address-form input#iela{
                        width: 35%;
                        float: left;
                    }
                    #address-form select#iela_abr{
                        height: 22px;
                        float: right;
                        width: 20%;
                    }
                    #address-form p.err_m_register, #admin-form p.err_m_register, 
                    #userreg-form p.err_m_register{
                        color: #FF4D4D;
                        padding-top: 2px;
                        margin: 0;
                        float: right;
                        text-align: center;
                        width: 60%;
                        font-size: 12px;
                    }
                    label.add_c_label{
                        color: #292929;
                    }
                button#a-submit-login{
                    margin: 10px auto 0 auto;                  
                }
                button.a_buttons{
                    width: 200px;
                    height: 30px;
                    color: #3a87ad;
                    background-color: #d9edf7;
                    margin: 10px auto 10px auto;
                    display: block;
                    font-weight: bold;

                }

                button.a_buttons:hover{
                    color: #d9edf7;
                    background-color: #3a87ad;
                }


                button.login-submit-address{
                    width: 200px;
                    height: 30px;
                    background-color: #FB6B6B;
                    color: #FFF;
                    /*float: right;*/
                    margin: 0 auto 20px auto;
                    display: block;
                }

                button.login-submit-address:hover{
                    background-color: #FF4D4D;
                }

/*a_user_list.php*/

table {
    border-collapse: collapse;
    width: auto;
    margin: 0 auto;
}

    th, td {
        text-align: left;
        padding: 8px;
        /*border: 1px solid black;*/
    }

    td, th{
        height: 35px;
    }
    td.td-center{
        text-align: center;
    }

    tr{background-color: #f2f2f2}

    th {

        color: #d9edf7;
        background-color: #3a87ad;
    }
    .add_btn{
        width: 100%;
        height:35px;
/*        background-color: #FF4D4D;
        color: #FFFFFF;*/
        color: #d9edf7;
        background-color: #3a87ad;
        padding: 0;
    }

    .no_padding{
        padding: 0;
    }

    div.btn_div{
        height: 30px;
    }

    div.btn_div_center{
        width: 200px;
        height: 100%;
        margin: 0 auto;

    }




.panel {
    padding: 50px auto;
    display: none;
}











div.address-div{
    margin: 0;
    padding: 0;
    display: inline;
    width: 60%; 
    height: 22px;
    float: right;
    position: relative;
}

input#jurid_adrese{
    width: 100%;
}


/*input.register-input{
    
    height: 22px;
    padding: 2px 10px;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    float: right;
}*/



    /*Ir jāpamaina id*/
    input#address{
        width:100%;
        overflow: hidden;
        position: relative;
        padding-right: 38px;
    }

    div#address-edit{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 45px;
        background-color: green;
        cursor: default;
        color: #FFFFFF;
        line-height: 18px;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
    }

        div#address-edit span{
            display: block;
            text-align: center;
        }

    div#address_form_btn{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
/*        background-color: #FB6B6B;
        color: #FFF;*/

background-color: #d9edf7;
    }
    
    div#address_form_btn:hover{
        /*background-color: #FF4D4D;*/
background-color: #3a87ad;
    }
    div#address_form_btn:hover p.a_f_b_title{
        /*background-color: #FF4D4D;*/
color: #d9edf7;
    }

        div#address_form_btn p.a_f_b_title{
            color: #3a87ad;
            font-weight: bold;
            display: block;
            text-align: center;
            margin: 3px auto;
            font-size: 12px;
            cursor: default;
        }







.wrapper-up{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 716px;
    width: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

    .wrapper-up div.register-div{
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        z-index: 3;
    }
        .wrapper-up div.register-div-center{
            width: 550px;
            height: 100%;
            background-color: #292929;
            margin: 0 auto;
            position: relative;
        }
            .register-div-center button.star_fill{
                background: url("Pictures/star-btn-min_fill.png") no-repeat;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 25px;
                left: 25px;
            }
            .register-div-center button.close{
                background: url("Pictures/close-btn.png") no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }
            form#address-form{
                width: auto;
                padding: 40px 40px 25px 40px;
/*                width: 80%;
                padding: 40px 0 25px 0;*/
                margin: 0 auto;
            }
                #address-form fieldset{
                    border: none;
                    padding: 10px 0;
                    height: auto;
                }               
                    #address-form p{
                        color: #B0AEAE;
                        text-align: left;
                        font-size: 11px;
                        margin-bottom: 25px;
                    }
                    #address-form label{
                        float: left;
                        color: #B0AEAE;
                        width: 40%;
                        line-height: 22px;
                        font-weight: bold;
                    }


                    #address-form input.register-input{
                        width: 60%; 
                        height: 22px;
                        padding: 2px 10px;
                        font-size: 12px;
                        font-style: italic;
                        font-weight: bold;
                        float: right;
                    }
                button.reg-submit-address{
                    width: 200px;
                    height: 30px;
                    color: #3a87ad;
                    background-color: #d9edf7;
                    margin: 0 auto 20px auto;
                    display: block;

                }

                button.reg-submit-address:hover{
                    color: #d9edf7;
                    background-color: #3a87ad;
                }

#regaddr-wrapper-div{
    z-index: 0;
}




/*CSS stils balstoties uz ierīce ekrāna izmēra*/
/************************************************************************************************************/



/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/

