























/*Globālie CSS parametri*/
/************************************************************************************************************/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -mox-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Arial", Gadget, sans-serif;
    min-width: 300px;
    background-color: #FFF5F5;
    position: relative;
}
button{
    border: none;
}

button:focus {outline:0;}

a{
    text-decoration: none;
    margin: 0;
    color: #545454;
}

p{
    color: #545454;
}

.hidden{
    display: none;
}

hr{
    border: none;
    border-bottom: 1px solid #545454;
}


/*CSS parametri specifiski katram elementam*/
/************************************************************************************************************/

.wrapper{
    width: 60%;
    /*background-color: red;*/
    margin: 0 auto;
    text-align: center;

}

.wrapper-up{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
}

    .wrapper-up div.email-div{
        position: fixed;
        top: 100px;
        left: 0;
        width: 100%;
        height: 200px;
    }
        .wrapper-up div.email-div-center{
            width: 300px;
            height: 100%;
            background-color: #292929;
            margin: 0 auto;
            position: relative;
        }
            .email-div-center button.star_fill{
                background: url("Pictures/star-btn-min_fill.png") no-repeat;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 25px;
                left: 25px;
            }
            .email-div-center button.close{
                background: url("Pictures/close-btn.png") no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }
            section#email-form{
                width: 252px;
                position: absolute;
                top: 55px;
                left:24px; 
            }
                #email-form p{
                    color: #B0AEAE;
                    text-align: left;
                    font-size: 11px;
                    margin-bottom: 25px;
                }

                #email-form input.email-input{
                    width: 100%; 
                    height: 22px;
                    margin-bottom: 10px;
                    padding: 2px 10px;
                    font-size: 10px;
                    font-style: italic;
                    font-weight: bold;
                }
                #email-form button.email-submit{
                    background: url("Pictures/labi-btn.png") no-repeat;
                    width: 100%;
                    height: 25px;
                }
                #email-form button.email-submit:hover{
                    background: url("Pictures/labi-btn_active.png") no-repeat;
                }



header.main-nav{
    width: 60%;
    height: 70px;
    background-color: #FFF;
    margin: 0 auto;
}

.nav-subject{
    height: 60px;
    margin: 5px;
    display: inline-block;
}

.nav-subject.left{
    /*width: 300px;*/
    width: auto;
    max-width: 320px;
    /*background-color: green;*/
    float: left;
}

    .nav-subject.left img{
        width: 50px;
        height: 50px;
        margin: 5px;
        float: left;
    }

    .nav-subject.left div.vieta-content{
        margin: 10px 0;
        display: inline-block;
        width: 220px;
    }

    .nav-subject.left p{
        display: inline-block;
        width: 200px;
        /*background-color: yellow;*/
    }

    .nav-subject.left p.vieta{
        font-size: 21px;
        color: red;
        line-height: 25px;
        font-weight: bold;
    }

    .nav-subject.left p.vieta-mainit{
        line-height: 15px;
        font-size: 12px;
    }

.nav-subject.right{
    width: 410px;
    /*background-color: blue;*/
    float: right;
    width: auto;
}

    #hidden_button_login{
        display: none;
        background: url("Pictures/login.png") no-repeat;
        margin: 10px;
        padding: 8px;
    }

    /*******************/
    /* Login button starts  */

    #nav-right-button-login{
        background: url("Pictures/login.png") no-repeat;
        position:relative;
        z-index:1;
        cursor:pointer;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
    }

    #nav-right-button-login:hover{
        background: url("Pictures/login_r.png") no-repeat;
    }


    #loginContainer {
        position:relative;
        font-size:12px;
        margin: 10px;
        padding: 0;
        display: inline-block;
    }

    #loginBox {
        position:absolute;
        right:0;
        display:none;
        z-index:2;
        width: 220px;
        margin: 0;
        padding: 0;
    }

    #loginForm hr {
        border: none;
        border-bottom: 1px solid #FC6B6B;
        width: 100%;
        margin-bottom: 10px;
    }

    #loginForm {
        width:100%; 
        background:#FFFFFF;
        padding:6px;
        float: right;
    }

    #loginForm fieldset {
        margin:0 0 5px 0;
        display:block;
        border:0;
        padding:0;
    }

    fieldset#body {
        background:#fff;
        padding:10px 0 10px 13px;
        margin:0;
    }

    #loginForm #checkbox {
        width:auto;
        margin:1px 9px 0 0;
        float:left;
        padding:0;
        border:0;

    }

    #body label {
        color:#3a454d;
        margin:9px 0 0 0;
        display:block;
        float:left;
    }

    #loginForm #body fieldset label {
        display:inline-block;
        float:none;
        margin:0 0 6px 0;
        width: 30%;
    }

    #loginForm input {
        width:60%;
        border:1px solid #FC6B6B;
        border-radius:3px;
        -moz-border-radius:3px;
        color:#3a454d;
        font-weight:bold;
        padding:0 8px;
        font-size:14px;
        float: right;
    }

    #loginForm input:focus {
        box-shadow:inset 0px -1px 1px #FC6B6B;
        -webkit-box-shadow:inset 0px -1px 1px #FC6B6B;
        -moz-box-shadow:inset 0px -1px 1px #FC6B6B;
    }

    #loginForm #login {
        width:auto;
        float:left;
        background: url("Pictures/ienakt.png") no-repeat;
        width: 59px;
        height: 22px;
        margin:12px 12px 0 0;
        cursor:pointer;
        float: right;

    }

    #loginForm #login:hover {
        background: url("Pictures/ienakt_active.png") no-repeat;
    }

    #loginForm span {
        text-align:center;
        display:block;
        padding:7px 0 4px 0;
    }

    #loginForm span a {
        color:#3a454d;
        text-shadow:1px 1px #fff;
        font-size:12px;
    }

    input:focus {
        outline:none;
    }
    /* Login button ends */
    /*******************/


    #nav-right-button-register{
        background: url("Pictures/register.png") no-repeat;
        margin: 10px;
        display: inline-block;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

    #nav-right-button-register:hover{
        background: url("Pictures/register_rr.png") no-repeat;
    }

    #nav-right-button-back{
        background: url("Pictures/back.png") no-repeat;
        margin: 10px;
        display: inline-block;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

    #nav-right-button-back:hover{
        background: url("Pictures/back_r.png") no-repeat;
    }

    .button_nav{
        width: 137px;
        height: 35px;
        box-shadow: 2px 2px 8px 2px #545454;
    }


.reklamas-meklesana{
    width: 100%;
    height: 29px;
}


    div.margin-auto.title{

        float: left;
        height: 100%;
        width: 200px;
        display: inline-block;
    }
    p.nedelas-reklamas-title{
        width: 200px;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto;
        margin-top: 12px;
    }

    div.margin-auto.hsw{
        width: 304px;
        float: right;
        height: 100%;
    }

            input.home-search-input{
                background: url("Pictures/search_input_min.png") no-repeat;
                border-radius: 2px 0 0 2px;
                padding: 0 10px;
                font-size: 10px;
                width: 276px;
                height: 29px;
                float: left;
            }

            button.home-search{
                background: url("Pictures/search_button_min.png")no-repeat;
                border-radius: 0 2px 2px 0;
                width: 28px;
                height: 28px;
            }

            button.home-search:hover{
                background: url("Pictures/search_button_active_min.png")no-repeat;
            }

        .reklamas-meklesana hr{
            width: 95%;
            margin: 0 auto;
            padding: 2px 0;
        }

/* Galvenais kataloga saraksts */
#main-item-list{
    width: 100%;
    height: 680px;
    /*background-color: red;*/
    padding: 30px 0;
    /*overflow-y:hidden;*/
}

    .m-i-li-center{
        max-width: 604px;
        /*width: auto;*/
        margin: 0 auto;
        height: 650px;
        /*background-color: yellow;*/
        padding: 10px;
        overflow-y: hidden; 
    }
        .reklamas{
            display: inline-block;
            width: 140px;
            height: 190px;
            background-color: #A8A8A8;
            margin:10px 3px;
            float: left;
            position: relative;
        }
            .reklamas p{
                width: 100%;
                display: block;
                text-align: center;
            }

            .reklamas p span{
                color: #000;
                font-weight: bold;
                font-size: 14px;
            }
            .reklamas p.add-placeholder{

                color: #FFF;
                font-size: 22px;
/*                margin: 50px 0 45px 0;*/
                position: absolute;
                top: 50px;
                left: 0;
            }
            .reklamas p.veikals{
                font-size: 12px;
                color: #000;
                font-weight: bold;
                position: absolute;
                bottom: 25px;
            }
            .reklamas p.der-termins{
                font-size: 10px;
                color: #000;
                position: absolute;
                bottom: 10px;
            }
        .reklamas-hover{
            
            display: none;
            /*display: inline-block;*/
            width: 140px;
            height: 190px;
            background-color: #000;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.9;
        }
        .reklamas:hover .reklamas-hover{
            display: inline-block;
        }    
            .reklamas-hover button.google-map{
                background: url("Pictures/g-map-btn.png")no-repeat;
                position: absolute;
                top: 5px;
                left: 10px;
                width: 25px;
                height: 35px;
/*                border: 1px solid red;*/
            }
            .reklamas-hover button.google-map:hover{
                background: url("Pictures/g-map-btn_active.png")no-repeat;
            }
            .reklamas-hover button.star{
                background: url("Pictures/star-btn.png")no-repeat;
                position: absolute;
                top: 10px;
                right: 5px;
                width: 30px;
                height: 30px;
                /*border: 1px solid red;*/
            }
            .reklamas-hover button.star:hover{
                background: url("Pictures/star-btn_active.png")no-repeat;
            }

            div.radit-div{
                width: 100%;
                position: absolute;
                top:55px;
                height: 22px;
            }
                div.radit-div-center{
                    width: 59px;
                    margin: 0 auto;
                    height: 100%;
                }
                    button.radit{
                        width: 100%;
                        height: 100%;
                        background-color: #FB6B6B;
                        background: url("Pictures/radit.png")no-repeat;
                    }

                    button.radit:hover{
                        background: url("Pictures/radit_active.png")no-repeat;
                    }
            .reklamas-hover p{
                width: 100%;
                display: block;
                text-align: center;
            }

            .reklamas-hover p span{
                color: #FFF;
                font-weight: bold;
                font-size: 14px;
            }
            .reklamas-hover p.add-placeholder{

                color: #FFF;
                font-size: 22px;
/*                margin: 50px 0 45px 0;*/
                position: absolute;
                top: 50px;
                left: 0;
            }
            .reklamas-hover p.veikals{
                font-size: 12px;
                color: #FFF;
                font-weight: bold;
                position: absolute;
                bottom: 25px;
            }
            .reklamas-hover p.der-termins{
                font-size: 10px;
                color: #FFF;
                position: absolute;
                bottom: 10px;
            }

div.radit-vel-div{
    width: 100%;
    height: 42px;
    /*background-color: red;*/
    margin: 60px 0;
}
        div.radit-vel-div-center{
            width: 100px;
            margin: 0 auto;
            height: 100%;
        }
            button.radit-vel{
                width: 100%;
                height: 100%;
                background-color: #FB6B6B;
                background: url("Pictures/radit-vel.png")no-repeat;
            }

            button.radit-vel:hover{
                background: url("Pictures/radit-vel_active.png")no-repeat;
            }

/* Populārākie pārdevēji */
header.main-subject-header{
    padding:20px 0;
}
p.main-subject-title{
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.image-slider{
    width: 80%;
    height: 74px;
    margin: auto;
    margin-bottom: 60px;
}

    .image-slider div{
        height: 74px;
        width: 16px;
        text-align: left;
        margin:auto;
    }

    .image-slider .vertical_align{
        width: 100%;
        height: 74px;
        display: table-cell;
        vertical-align: middle;
        margin: 0 auto;
    }

    .image-slider .images{
        width: 88%;
        display: inline-block;
        vertical-align: text-top;
        height: 74px;
        overflow:hidden;
        text-align: center;
    }

    .image-slider .images div.images-center{
        width: 90%;
    /*    display: inline-block;*/
        height: 74px;
        overflow: hidden;
        margin: 0 auto;
    }

    .image-slider .image{
        content:url("Pictures/image-default.png");
        width: 118px;
        height: 72px;
        margin: 1px 4px;
        display: inline-block;
    }


    .image-slider .prevnext{
        width: 4%;
        display: inline-block;
        vertical-align: text-top;
        height: 74px;
        text-align: center;

    }

    .image-slider button{
        width: 16px;
        height: 26px;
    }
    .image-slider button.prev{
        background: url('Pictures/prev.png') no-repeat;
    }
    .image-slider button.prev:hover{
        background: url('Pictures/prev_active.png') no-repeat;
    }

    .image-slider button.next{
        background: url('Pictures/next.png') no-repeat;
    }
    .image-slider button.next:hover{
        background: url('Pictures/next_active.png') no-repeat;
    }
/****************************/



/* Footer */
/**************************************************************/
footer{
    background-color:#404040;
    margin: 0;
    width: 100%;
    clear: both;
    font-weight: bold;
}

#footer{
    overflow: hidden;
}


footer section.sub-content{
    width: 29%;
    min-width: 150px;
    display: inline-block;
    margin: 15px auto;
    padding: 0 15px;
}

.sub-content.one{
    float: left;
}

.sub-content.three{
    float: right;
}
footer .title{
    float: left;
    color: #FFF5F5;
    font-size: 12px;
    font-weight: normal;
}

footer .title a{
    color: #FFF5F5;
}

footer hr{
    border: 1px solid #FFF5F5;
    float: left;
    display: table-cell;
    width: 90%;
    min-width: 150px;
}


footer .footer-info{
    float: left;
    margin: 5px 0;
    width: 100%;
}

footer .footer-info a{
    color: #A0A0A0;
    font-size: 10px;
    float: left;
}


footer div.buttons{
    margin: 10px;
    overflow: hidden;
    width: 100%;

}

footer .soc_tikli, footer .valodas{
    border-radius: 2px;
    float: left;
    margin: 0 10px 0 0;
}

footer .soc_tikli{
    width: 17px;
    height: 17px;
}


footer .valodas{
    width: 16px;
    height: 16px;
}

footer div.v_indekss{
    margin: 0 10px 0 0;
    width: 16px;
    font-size: 10px;
    display: inline-block;
    float: left;
    color: #FFF5F5;

}

footer button#draugiemlv{
    background: url('Pictures/draugiemlv_white.png') no-repeat;
}

footer button#facebook{
    background: url('Pictures/facebook_white.png') no-repeat;
}

footer button#twitter{
    background: url('Pictures/twitter_white.png') no-repeat;
}

footer button#lv{
    background: url('Pictures/lv.png') no-repeat;
}

footer button#ru{
    background: url('Pictures/ru.png') no-repeat;
}

footer button#en{
    background: url('Pictures/en.png') no-repeat;
}
/**************************************************************/

/************************************************************************************************************/























/*CSS stils balstoties uz ierīce ekrāna izmēra*/
/************************************************************************************************************/
@media screen and (min-width: 1000px) and (max-width: 1320px){
    header.main-nav{
        width: 80%;
    }
}

@media screen and (max-width: 1040px){
    .wrapper{
        width: 80%;
    }
    div.margin-auto.hsw{
        width: 274px;
    }
        input.home-search-input{
            width: 246px;
        }
}

@media screen and (max-width: 775px){
    .m-i-li-center{
        max-width: 458px;
    }
}
@media screen and (max-width: 590px){
    .m-i-li-center{
        max-width: 312px;
    }
}

@media screen and (max-width: 410px){
    .wrapper{
        width: 100%;
    }

}

@media screen and (max-width: 1000px){
    header.main-nav{
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px){
    .home-search-wrapper{
        min-width: 520px;
        width: 85%;
    }
    .AppDownloadButtons{
        width: 70%;
        margin: 0 auto;
    }


}

@media screen and (min-width: 801px) and (max-width: 1324px){
    .home-search-wrapper{
        width: 100%;
    }

/* pilsetu-parskats */
    .pilsetas-karte{
        width: 35%;
        min-width: 261px;
    }

    .lielakas-pilsetas{
        width: 45%;
        float: left;
    }


    button.karte{
        min-width: 261px;
        width: 261px;
        height: 157px;
        background: url('Pictures/map_smallest.png') no-repeat;
    }
/****************************/

}

@media screen and (min-width: 601px) and (max-width: 1130px){
/* Kategorijas */
    #kategorijas .tablet {
        display: block;
    }
    #kategorijas .desktop {
        display: none;
    }
    #ka-tas-strada>section{
        width: 40%;
    }
/****************************/

}

@media screen and (min-width: 466px) and (max-width: 1130px){

/* Populārākie produkti */
    #popularakie-produkti div.desktop{
        display: none;
    }
    
    #popularakie-produkti div.tablet{
        display: block;
    }

    #popularakie-produkti div.phone{
        display: none;
    }
/****************************/


}


@media screen and (max-width: 800px)  {
    .nav-subject{
        display: block;
        margin: 0 auto;
    }

    .nav-subject.left{
        float: none;
    }
    .nav-subject.right{
        float: none;
        width: 480px;
    }

    header.main-nav{
        height: 140px;
    }
    .reklamas-meklesana{
        height: 70px;
    }
        div.margin-auto.title{
            margin: 0 auto;
            float: none;
            display: block;
            height: 20px;
        }

        div.margin-auto.hsw{
            margin: 0 auto;
            float: none;
            display: block;
            height: 50px;
            padding-top: 20px;
        }

    .main-content-center{
        width: 100%;
        min-width: 320px;
    }

/* "Wlcome" content */
/**************************************************************/
    .body-welcome {
        width: 100%;
    }


/*******************/
/* Login button starts  */
    #loginContainer{
        display: none;
    }
    #hidden_button_login{
        width: 137px;
        height: 35px;
        background: url("Pictures/login.png") no-repeat;
        margin: 10px;
        padding: 0 8px;
    }

    #hidden_button_login:hover{
        background: url("Pictures/login_r.png") no-repeat;
    }


/* Login button ends */
/*******************/

    .home-search-wrapper {
        height: 50px;
    }
    input.home-search-input{
        font-size: 14px;
    }

    .AppDownloadButtons, .AppDownloadButtons div{
        height: 40px;
    }

    .AppDownloadButtons button{
        width: 135px;
        height: 40px;
        border: none;
        border-radius: 5px;
    }

/**************************************************************/

/* pilsetu-parskats */
    .lielakas-pilsetas{
        width: 80%;
        display: block;
        float: none;
        margin: 0 auto;
    }
    .pilsetas-karte{
        float: none;
        margin: 0 auto;
        display: block;
    }
/****************************/

/* Populārākie produkti */
/****************************/
    #popularakie-produkti .produkts{
        float: inherit;
        vertical-align: text-top;
    }
/****************************/
/**************************************************************/


/* Footer */
/**************************************************************/

    .sub-content.one{
        float: none;
        display: block;
        margin-bottom: 70px;
    }

    .sub-content.two{
        float: none;
        display: block;
        margin-bottom: 90px;
    }

    .sub-content.three{
        float: none;
        display: block;
        margin-bottom: 20px;
    }

    footer section.sub-content{
        width: 90%;
        min-width: 250px;
        display: block;
        vertical-align: text-top;
        margin: 15px auto;
    }

    footer section.sub-content.one, footer section.sub-content.two{
        display: none;
    }

    footer hr{
        display: none;
    }

    footer .title{
        text-align: center;
        float: none;
        color: #FFF5F5;
        font-size: 16px;
        font-weight: normal;
    }


    footer div.buttons{
        margin: 0 auto;
        overflow: hidden;
        width: 90%;
    }
    footer .footer-info{
        text-align: center;
        float: none;
    }


    footer .soc_tikli{
        width: 82px;
        height: 82px;
        border-radius: 2px;
        float: none;
    }

    footer .valodas{
        width: 16px;
        height: 16px;
        border-radius: 2px;
        float: none;
        margin: 0 10px 0 0;
    }

    footer div.v_indekss{
        display: none;
    }

    footer button#draugiemlv{
        background: url('Pictures/draugiemlv_white_tablet.png') no-repeat;
    }

    footer button#facebook{
        background: url('Pictures/facebook_white_tablet.png') no-repeat;
    }

    footer button#twitter{
        background: url('Pictures/twitter_white_tablet.png') no-repeat;
    }

/*    footer button#lv{
        background: url('Pictures/lv.png') no-repeat;
    }

    footer button#ru{
        background: url('Pictures/ru.png') no-repeat;
    }

    footer button#en{
        background: url('Pictures/en.png') no-repeat;
    }*/

/**************************************************************/

}

@media screen and (min-width: 481px)  and (max-width: 600px) {
    .home-search-wrapper{
        width: 100%;
        min-width: 430px;
    } 
}

@media screen and (min-width: 481px)  and (max-width: 800px)  {
/* "Wlcome" content */
/**************************************************************/
    .home-search-wrapper{
        width: 85%;
    } 
    .body-welcome {
        min-width: 460px;
    }
    .home-content-center{
        width: 90%;
    }

    .header-right{
        width: 60%;
        min-width: 450px;
        margin: 0 auto;
        float: right;
    }
/*******************/
/* Login button starts  */
    #nav-right-button-login{
        background: url("Pictures/login_m.png") no-repeat;
    }

    #hidden_button_login{
        display: inline-block;
    }

    #loginContainer{
        float: right; 
    }
/* Login button ends */
/*******************/
    #nav-right-button-register{
        float: right;
    }
/**************************************************************/

/* Kā tas strādā */
    #ka-tas-strada>section{
        width: 40%;
    }
/****************************/


/* pilsetu-parskats */
    .pilsetas-karte{
        width: 40%;
    }
/****************************/


/* Populārākie produkti */
    #popularakie-produkti div.desktop{
        display: none;
    }

    #popularakie-produkti div.tablet{
        display: block;
    }
/****************************/
/**************************************************************/


/* Footer */
/**************************************************************/
    footer .soc_tikli{
        margin: 0 10px;
    }
/**************************************************************/
}

@media screen and (min-width: 491px)  and (max-width: 800px)  {
    /* Kategorijas */
        #kategorijas .tablet {
            display: block;
        }

        #kategorijas .desktop {
            display: none;
        }
    /****************************/
}

@media screen and (min-width: 480px) and (max-width: 490px) {

/* Kategorijas */
    #kategorijas .tabletphone {
        display: block;
    }

    #kategorijas .desktop {
        display: none;
    }

/****************************/

}

@media screen and (max-width: 600px){

    .nav-subject.right{
        float: none;
        width: 200px;
    }

    header.main-nav{
        height: 250px;
    }
    #nav-right-button-register{
        float: none;
    }

}


@media screen and (max-width: 480px) {

    .home-content-center{
        width: 98%;
    }

/* "Wlcome" content */
/**************************************************************/
    .body-welcome {
        min-width: 320px;
    }


/*******************/
/* Login button starts  */
    #hidden_button_login{
        display: inline-block;
    }
/* Login button ends */
/*******************/
    .home-search-wrapper{
        width: 100%;
    } 

/**************************************************************/


/* Kā tas strādā */
    #ka-tas-strada>section{
        width: 70%;
    }

/****************************/


/* Kategorijas */
    #kategorijas .phone {
        display: block;
    }

    #kategorijas .desktop {
        display: none;
    }

/****************************/


/* pilsetu-parskats */
    button.karte{
        min-width: 261px;
        width: 261px;
        height: 157px;
        background: url('Pictures/map_smallest.png') no-repeat;
        float: none;
    }   

    .pilsetas-karte{
        width: 100%;
        min-width: 261px;
    }
/****************************/



/* reklamas-un-piedavajumi */
    #reklamas-un-piedavajumi .title{
        font-size: 14px;
    }
/****************************/

/* Populārākie produkti */

    #popularakie-produkti div.desktop{
        display: none;
    }
    
    #popularakie-produkti div.tablet{
        display: none;
    }

    #popularakie-produkti div.phone{
        display: block;
    }
/****************************/
/**************************************************************/


/* Footer */
/**************************************************************/
    footer .soc_tikli{
        display: block;
        margin: 15px auto;
    }
/**************************************************************/

}


/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/






