/*Globālie CSS parametri*/
/************************************************************************************************************/
body{
    margin: 0;
    font-family: "Arial", Gadget, sans-serif;
    min-width: 320px;
}
button{
    border: none;
}

button:focus {outline:0;}

a{
    text-decoration: none;
    margin: 0;
    color: #545454;
}

p{
    color: #545454;
}

.hidden{
    display: none;
}

/*CSS parametri specifiski katram elementam*/
/************************************************************************************************************/

#body-content{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 320px;
    clear: both;
/*    font-weight: bold;*/
}
#body-content p.main-subject-title{
    margin: 0;
    font-size: 19px;
    font-weight: bold;
}

.main-content-center{
    width: 90%;
    text-align: center;
/*    position: relative;*/
    margin: 0 auto;
    min-width: 530px;

}.main-content-center header{
    padding:20px 0;
    margin: 0 auto;

}




/* "Wlcome" content */
.body-welcome{
    background-image: url('Pictures/background_biggest.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #FFF5F5;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
}

#body-content{
    margin: 0 auto;
    width: 100%;
    /*padding: 50px;*/
    min-width: 320px;
    clear: both;
    /*min-height: 419px;*/
    min-height: 344px;
}

header.main-nav{
    height: 55px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    clear: both;
    /*overflow: hidden;*/
}

.header-right{
    float: right;
    margin-right: 3%;
}

.header-right .button_nav{
    box-shadow: 2px 2px 8px 2px #545454;
    float: right;
}

#nav-right-button-back{
    background: url("Pictures/back.png") no-repeat;
    margin: 10px;
    padding: 0;
    display: inline-block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#nav-right-button-back:hover{
    background: url("Pictures/back_active.png") no-repeat;
}

.button_nav{
    width: 137px;
    height: 35px;
}

/**************************************************************/




/* Body-content */
/**************************************************************/
.par-mums{
    width: 90%;
    min-width: 394px;
    margin: 40px auto;
    clear: both;
    overflow: hidden;

    
}
#par-mums_content fieldset{
    border: none;
}
#par-mums_content{
    background-color: #FFFFFF;
    width: 390px;
    float: left;
    box-shadow: 2px 2px 8px 2px #545454;
}
#par-mums_content form.content{
    margin: 15px;
    float: left;
    padding: 0;
    border: none;
    text-align: justify;
}

fieldset.content_area{
    padding: 0;
    font-size: 13px;
}


fieldset#input_area{
    margin: 30px 0;
    padding: 0;
}

fieldset#submit_area{
    margin: 30px 0 10px 0;
    padding: 0;
}


#par-mums_content p.subject-title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    margin-left: 15px;
}


#par-mums_content hr{
    margin: 0;
    border: none;
    border-bottom: 1px solid #F89494;
    width: 100%;
}

#par-mums_content fieldset label {
    display:inline-block;
    float:none;
    margin:0;
    width: 40%;
}

#par-mums_content input {
    width:50%;
    border:1px solid #FC6B6B;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#3a454d;
    padding:2px 8px;
    font-size:12px;
    float: right;
}

fieldset.content_area fieldset div.address-div{
    margin: 0;
    padding: 0;
    display: inline;
    width: 50%;
    height: auto;
    float: right;
    position: relative;
}

input#address{
    width:100%;
}

div#address_form_btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #FB6B6B;
    /*background-color: #FF4D4D;*/
    color: #FFF;
}

div#address_form_btn p.a_f_b_title{
    color: #FFF;
    display: block;
    text-align: center;
    margin: 3px auto;
    font-size: 12px;
    cursor: default;
}


div#address_form_btn:hover{
    background-color: #FF4D4D;
}

.wrapper-up{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    min-height: 716px;
    width: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

    .wrapper-up div.register-div{
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
        .wrapper-up div.register-div-center{
            width: 550px;
            height: 100%;
            background-color: #292929;
            margin: 0 auto;
            position: relative;
        }
            .register-div-center button.star_fill{
                background: url("Pictures/star-btn-min_fill.png") no-repeat;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 25px;
                left: 25px;
            }
            .register-div-center button.close{
                background: url("Pictures/close-btn.png") no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 5px;
                right: 5px;
            }
            form#address-form{
                width: auto;
                padding: 40px 40px 25px 40px;
/*                width: 80%;
                padding: 40px 0 25px 0;*/
                margin: 0 auto;
            }
                #address-form fieldset{
                    border: none;
                    padding: 10px 0;
                    height: auto;
                }               
                    #address-form p{
                        color: #B0AEAE;
                        text-align: left;
                        font-size: 11px;
                        margin-bottom: 25px;
                    }
                    #address-form label{
                        float: left;
                        color: #B0AEAE;
                        width: 45%;
                        line-height: 22px;
                        font-weight: bold;
                    }


                    #address-form input.register-input{
                        width: 55%; 
                        height: 22px;
                        padding: 2px 10px;
                        font-size: 12px;
                        font-style: italic;
                        font-weight: bold;
                        float: right;
                    }
                #address-form div.register-submit{
                    width: 200px;
                    height: 30px;
                    background-color: #FB6B6B;
                    color: #FFF;
                    /*float: right;*/
                    margin: 10px auto 0 auto;

                }

                #address-form div.register-submit:hover{
                    background-color: red;
                }
                #address-form div.register-submit p.r-s-title{
                    color: #FFF;
                    line-height: 30px;
                    display: block;
                    text-align: center;
                    margin: 3px 10px;
                    font-size: 12px;
                    cursor: default;
                }






#par-mums_content input:focus {
    outline: 0;
}

#par-mums_content input.checkbox_css{
    /*background: url("Pictures/back_active.png") no-repeat;*/

    float: left;
    width: 16px;
}

#registreties_submit{
    background: url("Pictures/registreties.png") no-repeat;
    float: right;
}

#registreties_submit:hover{
    background: url("Pictures/registreties_r.png") no-repeat;
    float: right;
}

.submit_button{
    width: 125px;
    height: 30px;

}

.content div{
    height: 30px;
    width: 200px;
    display: inline;
    overflow: hidden;
    float: left;
    font-size: 11px;
}

#par-mums_content p.vertical_align{
    height: 30px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}

#par-mums_content span{
    /*margin-top: 10px;*/
    line-height: 20px;

}
/**************************************************************/





/* Footer */
/**************************************************************/
footer{
    background-color:#404040 ;
    margin: 0;
    width: 100%;
    clear: both;
    font-weight: bold;
/*    position:fixed;
    left:0px;
    bottom:0px;*/
}

#footer{
    overflow: hidden;
}


footer section.sub-content{
    width: 29%;
    min-width: 150px;
    display: inline-block;
    margin: 15px auto;
}

.sub-content.one{
    float: left;
}

.sub-content.three{
    float: right;
}
footer .title{
    float: left;
    color: #FFF5F5;
    font-size: 12px;
    font-weight: normal;
}

footer hr{
    border: 1px solid #FFF5F5;
    float: left;
    display: table-cell;
    width: 100%;
    min-width: 150px;
}


footer .footer-info{
    float: left;
    margin: 5px 0;
    width: 100%;
}

footer .footer-info a{
    color: #A0A0A0 ;
    font-size: 10px;
    float: left;
}


footer div.buttons{
    margin: 10px;
    overflow: hidden;
    width: 100%;

}

footer .soc_tikli, footer .valodas{
    border-radius: 2px;
    float: left;
    margin: 0 10px 0 0;
}

footer .soc_tikli{
    width: 17px;
    height: 17px;
}


footer .valodas{
    width: 16px;
    height: 16px;
}

footer div.v_indekss{
    margin: 0 10px 0 0;
    width: 16px;
    font-size: 10px;
    display: inline-block;
    float: left;
    color: #FFF5F5;

}

footer button#draugiemlv{
    background: url('Pictures/draugiemlv_white.png') no-repeat;
}

footer button#facebook{
    background: url('Pictures/facebook_white.png') no-repeat;
}

footer button#twitter{
    background: url('Pictures/twitter_white.png') no-repeat;
}

footer button#lv{
    background: url('Pictures/lv.png') no-repeat;
}

footer button#ru{
    background: url('Pictures/ru.png') no-repeat;
}

footer button#en{
    background: url('Pictures/en.png') no-repeat;
}
/**************************************************************/

/************************************************************************************************************/























/*CSS stils balstoties uz ierīce ekrāna izmēra*/
/************************************************************************************************************/


@media screen and (min-width: 601px) and (max-width: 800px){

}

@media screen and (min-width: 801px) and (max-width: 1324px){

}

@media screen and (min-width: 601px) and (max-width: 1130px){

}

@media screen and (min-width: 466px) and (max-width: 1130px){


}


@media screen and (max-width: 800px)  {

    .main-content-center{
        width: 100%;
        min-width: 320px;
    }

/* "Wlcome" content */
/**************************************************************/
    .body-welcome {
        width: 100%;
    }


/*******************/
/* Login button starts  */
    #loginContainer{
        display: none;
    }
    #hidden_button_login{
        background: url("Pictures/login.png") no-repeat;
    }

    #hidden_button_login:hover{
        background: url("Pictures/login_active.png") no-repeat;
    }

/* Login button ends */
/*******************/

/**************************************************************/
}

@media screen and (min-width: 481px)  and (max-width: 600px) {

}

@media screen and (max-width: 600px) {
    .header-right .button_nav{
        width: 195px;
        height: 49px;     
    }
/* Login button starts  */
    #hidden_button_login{
        display: block;
    }
    #hidden_button_login{
        background: url("Pictures/login_m.png") no-repeat;
    }

    #hidden_button_login:hover{
        background: url("Pictures/login_m_active.png") no-repeat;
    }
/* Login button ends */
/*******************/
    .button_nav{
        display: block;
        
        float: left;
        margin: 15px auto;
    }


    #nav-right-button-register{
        background: url("Pictures/register_m.png") no-repeat;

    }
    #nav-right-button-register:hover{
        background: url("Pictures/register_m_active.png") no-repeat;
    }

    #nav-right-button-back{
        background: url("Pictures/back_m.png") no-repeat;

    }
    #nav-right-button-back:hover{
        background: url("Pictures/back_m_active.png") no-repeat;
    }
}


@media screen and (min-width: 481px)  and (max-width: 800px)  {
/* "Wlcome" content */
/**************************************************************/
    .body-welcome {
        min-width: 460px;
    }

    .header-right{
        width: 100%;
        margin: 0 auto;
        float: none;
    }
/*******************/
/* Login button starts  */
    #nav-right-button-login{
        background: url("Pictures/login_m.png") no-repeat;
    }

    #hidden_button_login{
        display: inline-block;
    }

    .button_nav{
        float: right;
    }

/*    #loginContainer{
        float: right; 
    }*/
/* Login button ends */
/*******************/
/*    #nav-right-button-register{
        float: right;
    }*/
/**************************************************************/

}







@media screen and (max-width: 480px) {


/* "Wlcome" content */
/**************************************************************/
    .body-welcome {
        min-width: 320px;
    }
    .header-right{
        width: 100%;
        text-align: center;
    }


/*******************/


/**************************************************************/

}


/************************************************************************************************************/
/************************************************************************************************************/
/************************************************************************************************************/